/* Character count */
.character-count {
  align-items: center;
  color: rgb(135, 135, 135);
  display: flex;
  font-size: 0.75rem;
  gap: 0.5rem;
}
.character-count svg {
  color: #5d01b8;
}
.character-count--warning {
  color: #ff0000;
}
.character-count--warning svg {
  color: #ff0000;
}
