@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


.header button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #d1d2d2;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.header select {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #d1d2d2;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
