@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


.buttonWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.buttonWrap button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #d1d2d2;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

select {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #d1d2d2;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
